.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(119, 163, 230, 0.4);
  }
.modal-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-align: left; /* Ajustado a "left" para alinear el texto a la izquierda */
    font-family: 'Arial', sans-serif;
    max-width: 80%;
    margin-left: auto;
    margin-top: 10%;
  }
  label {
    display: block;
    margin-bottom: 10px;
    color: black; /* Color azul brillante, puedes cambiarlo según tus preferencias */
    font-size: 18px; /* Tamaño de fuente más grande */
    font-weight: bold; /* Texto en negrita */
  }
  input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid black; /* Borde resaltado */
    border-radius: 5px;
    outline: none; /* Elimina el contorno predeterminado de algunos navegadores */
    transition: border-color 0.3s; /* Efecto de transición en el color del borde */
    width: calc(80% - 10px);
  }
  

  #myForm {
    width: 80%;
    max-width: 400px;
  }

  table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  table, th, td {
    border: 1px solid #ddd;
  }

  th, td {
    padding: 8px;
    text-align: left;
  }

  #total {
    margin-top: 10px;
    font-weight: bold;
    text-align: right;
  }

  #ticketHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
  }
  .close {
    color: #555;
    float: right;
    font-size: 24px;
    font-weight: bold;
    top: 10px; /* Ajusta la posición vertical según tus necesidades */
    right: 10px; /* Ajusta la posición horizontal según tus necesidades */
    position: absolute;
  }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.h2,.h3{
  font-family: 'Autour One';
  text-align: left;
}

.image-container {
    
  margin-top: 10px;
  margin-bottom: 10px; /* Ajusta la cantidad de margen superior según tus necesidades */
  }
  
  .image-container img {
    max-width: 80%; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto;
    
  }
  #ticketHeader > div,
#ticketHeader > div:last-child {
  flex: 1;
  margin: 0 7px; /* Ajusta el margen lateral de los formularios */
}
form {
    margin-bottom: 10px; /* Agrega margen inferior a los formularios */
    margin-top: 30px;
  }

  form[action="myForm2"],
  form[action="myForm"]{
    border: 2px solid #6a7278; /* Color del borde */
    border-radius: 10px;
  }
